<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plager</title>
</head>
<body>

<link rel="icon" href="{{ url_for('static', filename='assets/favicon.png') }}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<style>
  .gradient-bg {
    background: rgb(27,44,107);
    background: -webkit-linear-gradient(354deg, rgba(27,44,107,1) 0%, rgba(18,115,151,1) 50%, rgba(14,154,178,1) 100%);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .feature-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.75rem;
  }

  .bg-custom-blue {
    background-color: rgba(18,115,151,1)!important;
  }

  a {
    color: rgba(14,154,178,1);
    transition: color 0.25s linear;
  }
  a:hover {
    color: rgba(18,115,151,1);
  }

</style>


<nav id="header"class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('main.home') }}">
          <img src="{{ url_for('static', filename='assets/favicon.png') }}" alt="Bootstrap" width="30" height="30">
          Plager
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">About</a>
        </li>
      </ul>
      <a class="btn btn-secondary" href="{{ url_for('auth.login') }}">Login</a>
    </div>
  </div>
</nav>

    <div class="gradient-bg">

      <div class="container">
        <div class="row flex-row-reverse align-items-center justify-content-center g-5 py-5 text-light">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ url_for('static', filename='assets/favicon.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-1 fw-bold lh-1 mb-3">Plager</h1>
            <p class="lead">A comprehensive and effective plagiarism detection system for source code, designed for academic staff and students.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="{{ url_for('auth.login') }}" class="btn btn-light btn-lg px-4 me-md-2">See the Demo</a>
              <a href="#features" class="btn btn-outline-light btn-lg px-4 me-md-2">Learn More</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>

  <div class="container px-4 py-5" id="features">
    <div class="row g-4 py-lg-5 py-4 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-custom-blue fs-2 mb-3">
          <span class="material-symbols-outlined fs-1">search</span>
        </div>
        <h3 class="fs-2">Comprehensive Detection</h3>
        <p>Plager uses a variation of the Winnowing algorithm to accurately and reliably detect similarities between source code files.</p>
        <a href="#how-it-works" class="icon-link d-inline-flex align-items-center">
          How It Works
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-custom-blue fs-2 mb-3">
          <span class="material-symbols-outlined fs-1">upload</span>
        </div>
        <h3 class="fs-2">Submission Handling</h3>
        <p>Students can upload their source code directly to Plager, which automatically scans the file for plagiarism and feeds back the results to Staff.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Learn More
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-custom-blue fs-2 mb-3">
          <span class="material-symbols-outlined fs-1">code</span>
        </div>
        <h3 class="fs-2">Multi-Language Support</h3>
        <p>Plager can detect plagiarism amongst the source code of a variety of languages, including C, Python, Java, C++ and more.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
          List of Supported Languages
        </a>
      </div>
    </div>
    <div class="row g-4 py-lg-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-custom-blue fs-2 mb-3">
            <span class="material-symbols-outlined fs-1">description</span>
          </div>
          <h3 class="fs-2">Assignment System</h3>
          <p>Staff can set assignments for students to upload their submissions to, combining the submission and plagiarism detection systems into a seamless experience.</p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
            Learn More
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-custom-blue fs-2 mb-3">
            <span class="material-symbols-outlined fs-1">cloud</span>
          </div>
          <h3 class="fs-2">Git Integration</h3>
          <p>Plager can also detect signs of collusion within Git repositories, by analysing the commit histories in conjunction with it's detection algorithm, to you more accurate information.</p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
            Learn More
          </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-custom-blue fs-2 mb-3">
              <span class="material-symbols-outlined fs-1">dns</span>
            </div>
            <h3 class="fs-2">Deployment</h3>
            <p>Academic institutions can choose to self-host an installation of Plager, fitting the system seamlessly into existing education networks, or host the system in the cloud.</p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              Learn More
          </a>
          </div>
      </div>
  </div>

  <div id="how-it-works" class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">How it Works</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">This algorithm works by dividing the text into overlapping windows of fixed length w. Within each window, the algorithm identifies the hash value of the minimum-weighted element based on a predefined weighting scheme. This hash value is usually referred to as the fingerprint of the window. The fingerprint of each window is then compared with its neighbours to identify the strongest matches.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="{{ url_for('auth.login') }}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Login</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="http://www.printquarter.co.uk/wp-content/uploads/univeristy-logos-for-dissertations/University_of_Nottingham%20logo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="fs-2 lh-1 mb-3">Made in Collaboration with UoN</h1>
        <p>Plager has been made as part of the Computer Science BSc 2nd Year Software Engineering Module, by Group 28 of the class of 23/24. It has been inspired and influenced by the university's own academic staff.</p>
        <a href="https://cs.nott.ac.uk" class="icon-link d-inline-flex align-items-center">UoN</a>
      </div>
    </div>
  </div>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2022 G28</p>
  
      <div>
        <img src="{{ url_for('static', filename='assets/favicon.png') }}" alt="" width="50" height="50"/>
        <a href="https://nottingham.ac.uk">
          <img class="ms-3 rounded" src="https://universitas21.com/sites/default/files/styles/scale_640_w/public/2018-04/University%20of%20Nottingham.jpg?itok=BA8I2vEi" alt="" width="50" height="50"/>
        </a>
      </div>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{{ url_for('main.home') }}" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link px-2 text-muted">Login</a></li>
      </ul>
    </footer>
  </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>