{% extends "base.html" %}
{% block content %}

<h1 class="font-semibold text-3xl text-white mb-2">Staff Dashboard</h1>
<hr class="mb-4">

<div class="grid gap-4 md:grid-cols-3 md:grid-rows-1">

    <a href="{{ url_for('students.create_assignment') }}" class="flex items-center bg-green-700 text-green-300 text-lg rounded-md drop-shadow-md p-3 hover:bg-green-800 transition-all">
        <span class="material-symbols-rounded mr-2">add</span>
        <p>Create New Assignment</p>
    </a>

    <a href="{{ url_for('students.create_module') }}" class="flex items-center bg-green-700 text-green-300 text-lg rounded-md drop-shadow-md p-3 hover:bg-green-800 transition-all">
        <span class="material-symbols-rounded mr-2">add</span>
        <p>Create New Module</p>
    </a>
    
    <a href="{{ url_for('direct.compare') }}" class="flex items-center bg-blue-700 text-blue-300 text-lg rounded-md drop-shadow-md p-3 hover:bg-blue-800 transition-all">
        <span class="material-symbols-rounded mr-2">compare_arrows</span>
        <p>Compare Two Files</p>
    </a>

</div>

<div class="grid gap-4 md:grid-cols-2 md:grid-rows-1 mt-5">

    <div class="bg-white rounded-md drop-shadow-md p-3">
        <h2 class="font-semibold text-2xl mb-2">Current Assignments</h2>

        <ul class="mb-4">
            {% for assignment in assignments[:5] %}
                <li>
                    <p>{{ assignment.title }} &#183; <span class="text-gray-500">{{ assignment.modules.title }}</span></p> 
                    <p><span class="font-semibold">Due:</span> {{ assignment.date_due.strftime('%d/%m/%Y %H:%M') }}</p>
                    <a href="{{ url_for('assignments.staff_view_assignment', assignment_id=assignment.id) }}" class="text-cyan-600 hover:text-cyan-400 transition-all">View More</a>
                    <hr class="my-2">
                </li>
            {% endfor %}
            {% if not assignments %}
                <div class="bg-cyan-500 text-white w-full rounded-md p-3">
                    There are no upcoming assignments.
                </div>
            {% endif %}
        </ul>

        <div class="flex justify-end">
            <a href="{{ url_for('assignments.staff_all_assignments') }}" class="bg-cyan-500 text-white px-5 py-1 rounded-full hover:bg-cyan-700 transition-all">View All</a>
        </div>
    </div>

    <div class="bg-white rounded-md drop-shadow-md p-3">
        <h2 class="font-semibold text-2xl mb-2">Flagged Submissions</h2>

        <ul class="mb-4">
            {% for submission in submissions[:5] %}
                <li>
                    <p>{{ submission.users.name }} &#183; <span class="text-gray-500">{{ submission.assignments.title }}</span></p>
                    <p>Score: <span class="text-red-500">{{ submission.similarity_score }}%</span></p>
                    <a href="" class="text-cyan-600 hover:text-cyan-400 transition-all">View Submission</a>
                    <hr class="my-2">
                </li>
            {% endfor %}
            {% if not submissions %}
                <div class="bg-cyan-500 text-white w-full rounded-md p-3">
                    There are no flagged submissions.
                </div>
            {% endif %}
        </ul>

        <div class="flex justify-end">
            <a href="" class="bg-cyan-500 text-white px-5 py-1 rounded-full hover:bg-cyan-700 transition-all">View All</a>
        </div>
    </div>

</div>

{% endblock content %}